.styl{
    height: 500px;
}
textarea[name=monTexte]{
    background-color: #95a3b3;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 1rem;   
    resize: vertical;
    max-height: 500px;
}
.text{
    height: 200px;
    width: 100%;
}